<h1>Menu</h1>
<h2>Breakfast</h2>
<% @menu_items_breakfast.each do |item| %>
<%= item.name %><br>
<%= item.description %><br>
<%= number_with_precision(item.price, precision: 0)  %> VND<br>
<%= item.section %><br>
<%= item.image_url %><br>
<br>
<% end %>
<h2>Lunch</h2>
<% @menu_items_lunch.each do |item| %>
<%= item.name %><br>
<%= item.description %><br>
<%= number_with_precision(item.price, precision: 0)  %> VND<br>
<%= item.section %><br>
<%= item.image_url %><br>
<br>
<% end %>
<h2>Dinner</h2>
<% @menu_items_dinner.each do |item| %>
<%= item.name %><br>
<%= item.description %><br>
<%= number_with_precision(item.price, precision: 0)  %> VND<br>
<%= item.section %><br>
<%= item.image_url %><br>
<br>
<% end %>
<h2>Drinks</h2>
<% @menu_items_drinks.each do |item| %>
<%= item.name %><br>
<%= item.description %><br>
<%= number_with_precision(item.price, precision: 0)  %> VND<br>
<%= item.section %><br>
<%= item.image_url %><br>
<br>
<% end %>
