<h1>Thank you for your order</h1>
**************************************** <br/>
---- User name: <%= @order.user_name %> <br/>
---- Address: <%= @order.address %> <br/>
---- Phone: <%= @order.phone %> <br/>
---- Created at: <%= @order.created_at.strftime("%A, %B %d %T") %> <br/>
<br/>
<% @cart_items = JSON.parse(@order.cart_items) %>
<% @cart_items.each do |k, v| %>
******************** <br/>
---- ID: <%= @cart_items[k]["id"] %> <br/>
---- Name: <%= @cart_items[k]["name"] %> <br/>
---- Price: <%= number_with_precision(@cart_items[k]["price"], precision: 0) %> VND<br/>
---- Quantity: <%= @cart_items[k]["quantity"] %> <br/>
---- Total: <%= number_with_precision(@cart_items[k]["total"], precision: 0) %> VND<br/>
<br/>
<% end %>
**************************************** <br/>
---- Delivery cost: <%= number_with_precision(@order.delivery_cost, precision: 0) %> VND<br/>
---- Total cost: <%= number_with_precision(@order.total_cost, precision: 0) %> VND<br/>
<br/>
