<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="websiteName">CoderRestaurant</h1>
    <div class="navBar">
      <div class="navItem" ><%= link_to 'Menu', 'menu', class: "navItemText"  %></div>
      <div class="navItem" ><%= link_to 'Contact Us', 'contact_us', class: "navItemText" %></div>
    </div>
    <%= yield %>
  </body>
</html>
